@model MvcCv.Models.Entity.TblExperience

@{
    ViewBag.Title = "GetExperience";
    Layout = "~/Views/Shared/_Adminlayout.cshtml";
}

<br />
<h2>Deneyim Güncelleme</h2>
<br />
<form method="post">
    @Html.Label("Deneyim Id")
    @Html.TextBoxFor(x => x.Id, new { @class = "form-control" })
    <br />
    @Html.Label("Başlık")
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    @Html.Label("Alt Başlık")
    @Html.TextBoxFor(x => x.Subheading, new { @class = "form-control" })
    <br />
    @Html.Label("Açıklama")
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <br />
    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary" type="submit">Güncelle</button>
</form>


